Repository microsoft/AirSim, pull requests merged in 2021-04, with the labels that each got.

#3539 Add indentation section in coding guidelines
  docs/coding_guidelines.md
Labels: doc update

#3536 ROS: Use the same settings as AirSim
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/WorldSimApiBase.hpp
  AirLib/include/common/AirSimSettings.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.h
  Unreal/Plugins/AirSim/Source/WorldSimApi.cpp
  Unreal/Plugins/AirSim/Source/WorldSimApi.h
  ros/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros/src/airsim_ros_pkgs/include/airsim_settings_parser.h
  ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
  ros/src/airsim_ros_pkgs/src/airsim_settings_parser.cpp
Labels: bug, ros

#3594 remove duplicate definition of ImageType class
  PythonClient/airsim/types.py
Labels: api, bug

#3535 Change frame_id of ROS camera_info message
  ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: bug, ros

#3545 Update moveToPosition to use setpoint control message instead of velocity control message
  AirLib/include/vehicles/multirotor/firmwares/mavlink/MavLinkMultirotorApi.hpp
Labels: bug, px4

#3610 Fix drone starting paused in packaged version
  AirLib/include/common/common_utils/ScheduledExecutor.hpp
Labels: bug

#3196 Add ApiServerPort to available AirSim settings
  docs/settings.md
Labels: doc update

#3596 Add new build configuration "--RelWithDebInfo" which makes it easier to debug
  AirLib/AirLib.vcxproj
  AirLibUnitTests/AirLibUnitTests.vcxproj
  AirSim.sln
  DroneServer/DroneServer.vcxproj
  DroneShell/DroneShell.vcxproj
  Examples/Examples.vcxproj
  HelloCar/HelloCar.vcxproj
  HelloDrone/HelloDrone.vcxproj
  HelloSpawnedDrones/HelloSpawnedDrones.vcxproj
  MavLinkCom/MavLinkCom.vcxproj
  MavLinkCom/MavLinkTest/MavLinkTest.vcxproj
  SGM/src/sgmstereo/sgmstereo.vcxproj
  SGM/src/stereoPipeline/stereoPipeline.vcxproj
  UnrealPluginFiles.vcxproj
  build.cmd
Labels: unreal-engine

#3604 Fix LogViewer bugs
  .gitignore
  LogViewer/LogViewer/Controls/SimpleLineChart.xaml.cs
  LogViewer/LogViewer/LogViewer.csproj
  LogViewer/LogViewer/MainWindow.xaml.cs
  LogViewer/LogViewer/Model/CsvDataLog.cs
  LogViewer/LogViewer/Model/KmlDataLog.cs
  LogViewer/LogViewer/Model/LogItemSchema.cs
  LogViewer/LogViewer/Model/MavlinkLog.cs
  LogViewer/LogViewer/Model/Px4DataLog.cs
  LogViewer/LogViewer/Model/Px4ULog.cs
  LogViewer/LogViewer/Utilities/MathHelpers.cs
  LogViewer/LogViewer/Utilities/ProgressUtility.cs
  LogViewer/Networking/Mavlink/MavlinkChannel.cs
  LogViewer/Networking/Mavlink/MavlinkTypes.cs
Labels: px4

#3601 fix broken links in website docs
  docs/CHANGELOG.md
  docs/Unity.md
  docs/airsim_ros_pkgs.md
  docs/airsim_tutorial_pkgs.md
  docs/apis.md
  docs/apis_cpp.md
  docs/azure.md
  docs/build_linux.md
  docs/build_windows.md
  docs/custom_drone.md
  docs/dev_workflow.md
  docs/distance_sensor.md
  docs/docker_ubuntu.md
  docs/image_apis.md
  docs/images/log_viewer_connect.png
  docs/lidar.md
  docs/log_viewer.md
  docs/mavlinkcom.md
  docs/px4_build.md
  docs/px4_multi_vehicle.md
  docs/px4_setup.md
  docs/px4_sitl.md
  docs/remote_control.md
  docs/sensors.md
  docs/unreal_upgrade.md
  docs/use_precompiled.md
  mkdocs.yml
Labels: doc update

#3364 ArduPilot Sensor Updates
  AirLib/include/common/AirSimSettings.hpp
  AirLib/include/sensors/distance/DistanceSimpleParams.hpp
  AirLib/include/sensors/lidar/LidarSimpleParams.hpp
  AirLib/include/vehicles/car/firmwares/ardurover/ArduRoverApi.hpp
  AirLib/include/vehicles/multirotor/firmwares/arducopter/ArduCopterApi.hpp
  AirLib/include/vehicles/multirotor/firmwares/mavlink/MavLinkMultirotorApi.hpp
  Unity/AirLibWrapper/AirsimWrapper/cmake/rpc-setup.cmake
  docs/distance_sensor.md
  docs/lidar.md
Labels: ardupilot

#3626 External physics engine
  AirLib/include/physics/DebugPhysicsBody.hpp
  AirLib/include/physics/ExternalPhysicsEngine.hpp
  AirLib/include/physics/PhysicsBody.hpp
  AirLib/include/vehicles/multirotor/MultiRotorPhysicsBody.hpp
  PythonClient/multirotor/external_physics_engine.py
  Unreal/Plugins/AirSim/Source/SimMode/SimModeWorldBase.cpp
  Unreal/Plugins/AirSim/Source/SimMode/SimModeWorldBase.h
  Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/SimModeWorldMultiRotor.cpp
  docs/image_apis.md
  docs/settings.md
Labels: feature request
