Repository microsoft/AirSim, pull requests merged in 2021-07, with the labels that each got.

#3453 Added Lidar PointCloud Python Example Scripts
  PythonClient/multirotor/sensorframe_lidar_pointcloud.py
  PythonClient/multirotor/vehicleframe_lidar_pointcloud.py
  docs/lidar.md
Labels: lidar

#3067 [Docs] Added install instructions for Ubuntu 20.04
  docs/airsim_ros_pkgs.md
Labels: doc update, ros

#3881 Fix broken links
  README.md
Labels: doc update

#3811 Update coding_guidelines.md for IsValid(ptr) guidelines
  docs/coding_guidelines.md
Labels: doc update

#3828 Update px4_lockstep.md
  docs/px4_lockstep.md
Labels: doc update, px4

#3864 Update coding_guidelines.md
  docs/coding_guidelines.md
Labels: doc update

#3527 Add iter to unpack Vector3r, Quaternionr and Pose
  PythonClient/airsim/types.py
Labels: feature request

#2983 [ros] camera_info header stamp modified
  ros/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros

#3009 Fix Weather API crash
  PythonClient/environment/setup_path.py
  Unreal/Plugins/AirSim/Source/WorldSimApi.cpp
Labels: bug

#3470 Avoid using deprecated git clone with basic auth
  .gitignore
  docs/build_linux.md
  install_unreal.sh
Labels: build

#3320 Add support for fixed external cameras
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/VehicleSimApiBase.hpp
  AirLib/include/api/WorldSimApiBase.hpp
  AirLib/include/common/AirSimSettings.hpp
  AirLib/include/common/CommonStructs.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  PythonClient/computer_vision/external_camera.py
  PythonClient/detection/detection.py
  Unity/AirLibWrapper/AirsimWrapper/Source/PawnSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/PawnSimApi.h
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.h
  Unreal/Plugins/AirSim/Source/DetectionComponent.cpp
  Unreal/Plugins/AirSim/Source/DetectionComponent.h
  Unreal/Plugins/AirSim/Source/PIPCamera.cpp
  Unreal/Plugins/AirSim/Source/PIPCamera.h
  Unreal/Plugins/AirSim/Source/PawnSimApi.cpp
  Unreal/Plugins/AirSim/Source/PawnSimApi.h
  Unreal/Plugins/AirSim/Source/SimHUD/SimHUD.cpp
  Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.cpp
  Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.h
  Unreal/Plugins/AirSim/Source/WorldSimApi.cpp
  Unreal/Plugins/AirSim/Source/WorldSimApi.h
  docs/image_apis.md
  docs/settings.md
Labels: feature request, images

#3880 fix ROS topic names
  ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
  ros/src/airsim_ros_pkgs/src/pd_position_controller_simple.cpp
Labels: bug, ros
