Repository microsoft/AirSim, pull requests merged in 2021-09, with the labels that each got.

#3128 Support for multiple drones in Unity
  Unity/AirLibWrapper/AirsimWrapper/Source/PInvokeWrapper.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/PInvokeWrapper.h
  Unity/AirLibWrapper/AirsimWrapper/Source/SimHUD/SimHUD.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/SimHUD/SimHUD.h
  Unity/AirLibWrapper/AirsimWrapper/Source/SimMode/SimModeBase.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/SimMode/SimModeBase.h
  Unity/AirLibWrapper/AirsimWrapper/Source/SimMode/SimModeWorldBase.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/SimMode/SimModeWorldBase.h
  Unity/AirLibWrapper/AirsimWrapper/Source/UnityToAirSimCalls.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/UnityToAirSimCalls.h
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Car/CarPawnSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Car/SimModeCar.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Car/SimModeCar.h
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Multirotor/SimModeWorldMultiRotor.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Multirotor/SimModeWorldMultiRotor.h
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.h
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/AirSimServer.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/AirSimServer.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/AirSimSettings.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/AirSimTick.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/AirSimTick.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Utilities/PInvokeWrapper.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/IAirSimInterface.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Multirotor/Drone.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Vehicle.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/VehicleCompanion.cs
  Unity/UnityDemo/Assets/Scenes/CarDemo.unity
  Unity/UnityDemo/Assets/Scenes/DroneDemo.unity
  Unity/UnityDemo/Assets/Scenes/MultiDroneDemo.unity
  Unity/UnityDemo/Assets/Scenes/MultiDroneDemo.unity.meta
Labels: unity

#3635 Add Docker for testing ROS wrapper
  docs/airsim_ros_pkgs.md
  tools/Dockerfile-ROS
  tools/install_ros_deps.sh
Labels: ros, Docker

#4043 Change `getPfmArray` to `get_pfm_array`
  docs/apis.md
Labels: doc update
