Repository microsoft/AirSim, pull requests merged in 2021-03, with the labels that each got.

#2770 XBox Controller fix
  Unreal/Plugins/AirSim/Source/SimJoyStick/SimJoyStick.cpp
Labels: bug, rc

#2810 Combine Lidar Segmentation API into getLidarData
  AirLib/include/api/RpcLibAdapatorsBase.hpp
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/VehicleApiBase.hpp
  AirLib/include/common/CommonStructs.hpp
  AirLib/include/sensors/lidar/LidarBase.hpp
  AirLib/include/sensors/lidar/LidarSimple.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  PythonClient/airsim/types.py
  docs/lidar.md
Labels: feature request, lidar

#2861 Extend Recording to multiple vehicles
  AirLib/include/common/AirSimSettings.hpp
  AirLib/include/common/common_utils/FileSystem.hpp
  AirLib/include/common/common_utils/Utils.hpp
  AirLib/include/sensors/distance/DistanceSimpleParams.hpp
  AirLib/include/sensors/lidar/LidarSimpleParams.hpp
  Examples/DataCollection/DataCollectorSGM.h
  Examples/DataCollection/StereoImageGenerator.hpp
  HelloCar/main.cpp
  HelloDrone/main.cpp
  Unreal/Plugins/AirSim/Source/PawnSimApi.cpp
  Unreal/Plugins/AirSim/Source/Recording/RecordingFile.cpp
  Unreal/Plugins/AirSim/Source/Recording/RecordingFile.h
  Unreal/Plugins/AirSim/Source/Recording/RecordingThread.cpp
  Unreal/Plugins/AirSim/Source/Recording/RecordingThread.h
  Unreal/Plugins/AirSim/Source/SimHUD/SimHUD.cpp
  Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.cpp
  Unreal/Plugins/AirSim/Source/Vehicles/Car/CarPawnSimApi.cpp
  docs/settings.md
Labels: bug, feature request, multi-agent

#3402 Fix rotor count bug
  Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/FlyingPawn.cpp
  Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/FlyingPawn.h
Labels: bug, custom-model

#2909 Unity weather parameters, weather HUD, and a visual effect for snow
  Unity/UnityDemo/Assets/AirSimAssets/Prefabs/AirSimGlobal.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Prefabs/AirSimGlobal.prefab.meta
  Unity/UnityDemo/Assets/AirSimAssets/Prefabs/AirSimHUD.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Prefabs/WeatherHUDSlider.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Prefabs/WeatherHUDSlider.prefab.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/AirSimGlobal.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/AirSimGlobal.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/HUD/WeatherHUD.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/HUD/WeatherHUD.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/HUD/WeatherHUDSlider.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/HUD/WeatherHUDSlider.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Car/AirSimCarController.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Vehicles/Vehicle.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/Weather.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/Weather.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/WeatherFX.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/WeatherFX.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/WeatherParamScalarCollection.cs
  Unity/UnityDemo/Assets/AirSimAssets/Scripts/Weather/WeatherParamScalarCollection.cs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/UI.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/UI/WeatherHUD.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Weather/UI/WeatherHUD.prefab.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Materials.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Materials/M_Snowflake.mat
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Materials/M_Snowflake.mat.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs/Particles.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs/Particles/P_Weather_SnowFX.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs/Particles/P_Weather_SnowFX.prefab.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs/WeatherFX.prefab
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Prefabs/WeatherFX.prefab.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Textures.meta
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Textures/SnowFlakes.TGA
  Unity/UnityDemo/Assets/AirSimAssets/Weather/WeatherFX/Textures/SnowFlakes.TGA.meta
  Unity/UnityDemo/Assets/Scenes/CarDemo.unity
  Unity/UnityDemo/Assets/Scenes/DroneDemo.unity
  Unity/UnityDemo/Assets/Scenes/WeatherTest.unity
  Unity/UnityDemo/Assets/Scenes/WeatherTest.unity.meta
  docs/custom_unity_environments.md
Labels: feature request, unity

#3326 Docs: Add info about CameraDirector settings
  docs/settings.md
Labels: doc update

#3432 refresh nodes in MenuActor.uasset
  Unreal/Plugins/AirSim/Content/Weather/UI/MenuActor.uasset
Labels: bug, unreal-engine

#3405 Fixed incorrect link in apis.md
  docs/apis.md
Labels: doc update

#3447 Fix typos in meshes.md
  docs/meshes.md
Labels: doc update

#3514 Docs: Fix step numbering in Custom env page
  docs/unreal_custenv.md
Labels: doc update
