Repository microsoft/AirSim, pull requests merged in 2021-11, with the labels that each got.

#4070 add indices to FAQ pages
  docs/build_faq.md
  docs/build_linux.md
  docs/build_windows.md
  docs/faq.md
  mkdocs.yml
Labels: doc update

#4061 Fixed camera bug when using gimbal stabilization
  Unreal/Plugins/AirSim/Source/PIPCamera.cpp
Labels: bug

#4066 add simSetKinematics API
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/VehicleSimApiBase.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  Unity/AirLibWrapper/AirsimWrapper/Source/PawnSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/PawnSimApi.h
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Multirotor/MultirotorPawnSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/Vehicles/Multirotor/MultirotorPawnSimApi.h
  Unity/build.cmd
  Unreal/Plugins/AirSim/Source/PawnSimApi.cpp
  Unreal/Plugins/AirSim/Source/PawnSimApi.h
  Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/MultirotorPawnSimApi.cpp
  Unreal/Plugins/AirSim/Source/Vehicles/Multirotor/MultirotorPawnSimApi.h
Labels: feature request, api

#3992 Dynamically set object textures from existing UE material or texture PNG
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/WorldSimApiBase.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  PythonClient/environment/change_texture_example.py
  PythonClient/environment/sample_texture.jpg
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.h
  Unreal/Plugins/AirSim/Content/HUDAssets/DomainRandomizationMaterial.uasset
  Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.cpp
  Unreal/Plugins/AirSim/Source/SimMode/SimModeBase.h
  Unreal/Plugins/AirSim/Source/WorldSimApi.cpp
  Unreal/Plugins/AirSim/Source/WorldSimApi.h
Labels: feature request, api

#3938 Optical flow camera
  AirLib/include/common/ImageCaptureBase.hpp
  PythonClient/airsim/types.py
  Unreal/Plugins/AirSim/Content/Blueprints/BP_PIPCamera.uasset
  Unreal/Plugins/AirSim/Content/HUDAssets/OpticalFlowMaterial.uasset
  Unreal/Plugins/AirSim/Content/HUDAssets/OpticalFlowRGBMaterial.uasset
  Unreal/Plugins/AirSim/Source/PIPCamera.cpp
Labels: feature request, images

#4145 moveByRollPitchYawThrottleAsync Documentation changed from radians to Degrees
  PythonClient/airsim/client.py
Labels: doc update
