Repository microsoft/AirSim, pull requests merged in 2022-04, with the labels that each got.

#4430 fix 4420(AirsimROSWrapper::airsim_timestamp_to_ros failed to compile in Visual Studio)
  ros2/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: bug, ros

#4457 Fix detection crash
  Unreal/Plugins/AirSim/Source/ObjectFilter.cpp
Labels: bug

#4496 add missing ImageType argument to object detection APIs
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/src/api/RpcLibClientBase.cpp
Labels: bug

#4491 Update mac build instructions url
  README.md
Labels: doc update

#4464 fix4444
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros2

#4465 fix4445
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros2

#4466 fix4453
  ros2/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros2

#4479 fix4448
  ros2/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros2
