Repository microsoft/AirSim, pull requests merged in 2022-05, with the labels that each got.

#4478 fix4475
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: ros2

#4467 add meterial element index
  AirLib/include/api/RpcLibClientBase.hpp
  AirLib/include/api/WorldSimApiBase.hpp
  AirLib/src/api/RpcLibClientBase.cpp
  AirLib/src/api/RpcLibServerBase.cpp
  PythonClient/airsim/client.py
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.cpp
  Unity/AirLibWrapper/AirsimWrapper/Source/WorldSimApi.h
  Unreal/Plugins/AirSim/Source/WorldSimApi.cpp
  Unreal/Plugins/AirSim/Source/WorldSimApi.h
Labels: feature request, api

#4460 Fix Unreal Engine deprecations
  Unreal/Plugins/AirSim/Source/AirBlueprintLib.cpp
  Unreal/Plugins/AirSim/Source/DetectionComponent.cpp
Labels: unreal-engine

#4510 Fix typo in channel log
  docs/CHANGELOG.md
Labels: doc update

#4520 Fix missing sensor name in ros PointCloud2 msg
  ros/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
  ros2/src/airsim_ros_pkgs/include/airsim_ros_wrapper.h
  ros2/src/airsim_ros_pkgs/src/airsim_ros_wrapper.cpp
Labels: bug, ros, ros2

#4526 Improving build.sh to recursively update plugins of all environments
  build.sh
Labels: build

#4547 update references to old UE and VS versions
  build.cmd
  docs/unreal_custenv.md
  docs/unreal_upgrade.md
Labels: doc update
